NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_CHAIN_ID=677
NEXT_PUBLIC_AGENT_NFT=
NEXT_PUBLIC_BATTLE_ARENA=
NEXT_PUBLIC_SOLO_ARENA=
NEXT_PUBLIC_LEAGUE=
NEXT_PUBLIC_TOURNAMENT=
NEXT_PUBLIC_MARKETPLACE=
NEXT_PUBLIC_SHOP=
